html,body 
 {
    padding:0;
    margin:0;
    height:100%;
    min-height:100%;
  }
.part1 { background-color: #F2593E; 
	width:50%; 
	height:50%; 
	float:left}
.part2 {background-color: #91E8EC;
	width:50%; 
	height:50%; 
	float:left}
.part3 {background-color:#D7C8C5; 
	width:50%; 
	height:50%; 
	float:left}    
.part4 {background-color:#ECF28B; 
	width:50%; 
	height:50%; 
	float:left}


.header {
  padding: 0.5px;
  text-align: center;
  background: #111111;
  color: white;
  font-size: 30px;}



 h2 {
  padding-left: 150px;
  padding-top: 100px;
  color: black;
  font-size: 50px;
  
}



